@model IEnumerable<Wagenpark.Models.ONDERHOUD>

@{
    ViewBag.Title = "Index";
}

<h2>Onderhoudsbeurten</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OnderhoudsDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kosten)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAR.Kenteken)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAR.Merk)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CAR.AutoType)
        </th>
        <th>
            Werkplaats
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @string.Format("{0:dd-MM-yyyy}", item.OnderhoudsDatum)
        </td>
        <td>
            @string.Format("{0:C}", item.Kosten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAR.Kenteken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAR.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAR.AutoType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WERKPLAATS.Naam)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.OnderhoudsDatum }) |
            @Html.ActionLink("Details", "Details", new { id = item.OnderhoudsDatum }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.OnderhoudsDatum })
        </td>
    </tr>
}

</table>
