@model Wagenpark.Models.WagenparkDBEntities

@{
    ViewBag.Title = "ROCIT";
}
<div style="height: 30px; width: 100%; display:block; background-color: #343a40; border-radius: 10px;">
    <h2 style="color: white; padding-left: 10px;">Auto's</h2>
</div>

<table class="table">
    <tr>
        <th>
            In gebruik
        </th>
        <th>
            Kenteken
        </th>
        <th>
            Merk
        </th>
        <th>
            Autotype
        </th>
        <th>
            Naam dealer
        </th>
    </tr>

    @foreach (var item in Model.CAR)
    {
    <tr>
        <td>
            @if (item.InUse == 1)
            {
                <i class="fas fa-check" style="font-size: 20px; color: yellowgreen;"></i>
            }
            else
            {
                <i class="fas fa-times-circle" style="font-size: 20px; color: red;"></i>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kenteken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AutoType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEALER.Naam)
        </td>
    </tr>
    }

</table>

<br />

<div style="height: 30px; width: 100%; display:block; background-color: #343a40; border-radius: 10px;">
    <h2 style="color: white; padding-left: 10px;">Dealers</h2>
</div>

<table class="table">
    <tr>
        <th>
            Naam
        </th>
    </tr>

    @foreach (var item in Model.DEALER)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
        </tr>
    }

</table>

<br />

<div style="height: 30px; width: 100%; display:block; background-color: #343a40; border-radius: 10px;">
    <h2 style="color: white; padding-left: 10px;">Onderhoudsbeurten</h2>
</div>

<table class="table">
    <tr>
        <th>
            Betaald
        </th>
        <th>
            Onderhoudsdatum
        </th>
        <th>
            Kosten
        </th>
        <th>
            Kenteken
        </th>
        <th>
            Merk auto
        </th>
        <th>
            Autotype
        </th>
        <th>
            Naam werkplaats
        </th>
    </tr>

    @foreach (var item in Model.ONDERHOUD)
    {
    <tr>
        <td>
            @if (item.Paid == 1)
            {
                <i class="fas fa-check" style="font-size: 20px; color: yellowgreen;"></i>
            }
            else
            {
                <i class="fas fa-times-circle" style="font-size: 20px; color: red;"></i>
            }
        </td>
        <td>
            @string.Format("{0:dd-MM-yyyy}", item.OnderhoudsDatum)
        </td>
        <td>
            @string.Format("{0:C}", item.Kosten)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAR.Kenteken)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAR.Merk)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CAR.AutoType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WERKPLAATS.Naam)
        </td>
    </tr>
    }

</table>

<br />

<div style="height: 30px; width: 100%; display:block; background-color: #343a40; border-radius: 10px;">
    <h2 style="color: white; padding-left: 10px;">Werkplaatsen</h2>
</div>

<table class="table">
    <tr>
        <th>
            Naam
        </th>
    </tr>

    @foreach (var item in Model.WERKPLAATS)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
        </tr>
    }

</table>